/dts-v1/;
#include <nordic/nrf54l15_cpuapp.dtsi>
#include "fitra-aaa_cpuapp_common.dtsi"

/ {
	model = "Fitra project board (nRF54L15/AN54LQ-15)";
	compatible = "hitohira,fitra-aaa-cpuapp";

	chosen {
		zephyr,code-partition = &slot0_partition;
		zephyr,sram = &cpuapp_sram;
		zephyr,flash = &cpuapp_rram;
		zephyr,flash-controller = &rram_controller;
	};
};

&grtc {
	owned-channels = <0 1 2 3 4 5 6 7 8 9 10 11>;
	/* Channels 7-11 reserved for Zero Latency IRQs, 3-4 for FLPR */
	child-owned-channels = <3 4 7 8 9 10 11>;
	status = "okay";
};

/* cpuapp_sram is already enabled in fitra-aaa_cpuapp_common.dtsi */

&spi22 {
	status = "disabled";
};

&spi00 {
	status = "okay";
	pinctrl-0 = <&spi00_default>;
	pinctrl-1 = <&spi00_sleep>;
	pinctrl-names = "default", "sleep";
};

#include <nordic/nrf54l15_partition.dtsi>
